# config and cache
__pycache__
/.vscode
*.env
poetry.toml

# venv
.venv
/venv
.tox

# temporary files
/tmp
/test.*
/log

# build, metadata and distribution
/build
/dist
*.egg-info

# data
/data/*
!/data/emoji.yml
